[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scikit-learn = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
tqdm = "*"
imageio = "*"
scipy = "*"
pil = "*"

[requires]
python_version = "3.7"
